{{/* boolean feature tags */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $personal := false -}}
{{- $prefer_zsh := false -}}
{{- "" -}}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{- end -}}

{{/* work around unreliable hostname on darwin */}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $hostname := output "scutil" "--get" "ComputerName" | trim -}}
{{- end -}}

{{- if eq .chezmoi.os "windows" -}}
{{-   $ephemeral = true -}}
{{- end -}}

{{- if not $ephemeral -}}
{{-   if stdinIsATTY -}}
{{-     $headless = promptBoolOnce . "headless" "this machine is headless" -}}
{{-     $ephemeral = promptBoolOnce . "ephemeral" "this machine is ephemeral" -}}
{{-     $personal = promptBoolOnce . "personal" "this machine is personal" -}}
{{-     $prefer_zsh = promptBoolOnce . "prefer_zsh" "this machine use zsh" -}}
{{-   else -}}
{{-     $ephemeral = true -}}
{{-     $headless = true -}}
{{-   end -}}
{{- end -}}

{{- if true }}
encryption = "age"
[age]
identity = "~/key.txt"
recipient = "age1lacrnhydjj82temf2d48khrerws0dedyentgyz2qc04huh9vlczsxl8zsa"
{{- end }}

[git]
autoCommit = false
autoPush = false

[diff]
pager = "delta"
exclude = ["scripts"]

[merge]
command = "nvim"
args = ["-d", {{ print "\"{{ .Destination }}\", \"{{ .Source }}\", \"{{ .Target }}\"" }}]

[scriptEnv]
BASH_UTIL_PATH = "{{- .chezmoi.sourceDir -}}/.chezmoiscripts/run_once_util.sh"
CHEZMOI_OS_ID = {{ $osID | quote }}
CHEZMOI_PERSONAL = "{{ $personal }}"
CHEZMOI_HEADLESS = "{{ $headless }}"

[data]
ephemeral = {{ $ephemeral }}
headless = {{ $headless }}
hostname = {{ $hostname | quote }}
personal = {{ $personal }}
osid = {{ $osID | quote }}
prefer_zsh = {{ $prefer_zsh }}
