{{ $osName := index .chezmoi.osRelease "name" }}
{{ if eq $osName "Arch Linux" }}
#!/bin/bash

sudo pacman -Syyu
sudo pacman --needed -Sy \
bat \
android-tools \
bottom \
chezmoi \
docker \
docker-compose \
fish \
fzf \
git \
git-delta \
go \
iperf3 \
joshuto \
jq \
lazydocker \
lazygit \
lsof \
neovim \
nmap \
nodejs \
npm \
openbsd-netcat \
openssh \
p7zip \
samba \
tmux \
translate-shell \
tree \
otf-firamono-nerd \
unzip \
wget \
zoxide

EOF
{{end}}