version: '3.3'
services:
    alist:
        restart: always
        volumes:
            - './data:/opt/alist/data'
        # ports:
        #     - '5244:5244'
        environment:
            TZ: Asia/Shanghai
            VIRTUAL_HOST: alist.home.lubui.com
            VIRTUAL_PORT: 5244
        network_mode: host
        container_name: alist
        image: 'xhofe/alist:latest'
        labels:
            - com.centurylinklabs.watchtower.enable=true
