services:
  nginx:
    image: nginx:latest
    container_name: nginx
    environment:
      TZ: Asia/Shanghai
    network_mode: host
    restart: unless-stopped
    volumes:
      - ./conf.d:/etc/nginx/conf.d
      - ~/.lego/certificates/:/etc/nginx/certs
      - ./html:/usr/share/nginx/html
    logging:
      driver: json-file
      options:
        max-size: 1m

  dockergen:
    image: nginxproxy/docker-gen
    container_name: docker-gen
    command: -notify-sighup nginx -watch /etc/docker-gen/templates/nginx.tmpl
      /etc/nginx/conf.d/default.conf
    environment:
      TZ: Asia/Shanghai
      HTTPS_PORT:
      HTTP_PORT:
      SSO_INTERNAL_AUTH_ADDR:
      SSO_LOGIN_ADDR:
      SSO_COOKIE_DOMAIN:
    restart: unless-stopped
    network_mode: host
    volumes:
      - ./conf.d:/etc/nginx/conf.d
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./nginx.tmpl:/etc/docker-gen/templates/nginx.tmpl
      - ~/.lego/certificates/:/etc/nginx/certs

  sso:
    build: ./sso
    container_name: sso
    environment:
      TZ: Asia/Shanghai
      VIRTUAL_HOST: sso.home.lubui.com
      VIRTUAL_PORT: 3100
      LISTEN_ADDR: ':3100'
      SSO_COOKIE_DOMAIN:
      SSO_TOKEN_SALT:
      LOGIN_USERNAME:
      LOGIN_PASSWORD:
    restart: unless-stopped
    network_mode: host

  # whoami:
  #   image: traefik/whoami
  #   network_mode: host
  #   environment:
  #     - VIRTUAL_HOST=a.home.lubui.com
  #     - VIRTUAL_PORT=80
