services:
  app:
    image: nextcloud:fpm-alpine
    container_name: nextcloud-server
    restart: unless-stopped
    volumes:
      - ./nextcloud:/var/www/html:z
    network_mode: host
    expose:
      - '9000'
    environment:
      TZ: Asia/Shanghai
      NEXTCLOUD_ADMIN_USER:
      NEXTCLOUD_ADMIN_PASSWORD:
      NEXTCLOUD_TRUSTED_DOMAINS: home.lubui.com:${PORT}
      MYSQL_HOST:
      MYSQL_DATABASE:
      MYSQL_USER:
      MYSQL_PASSWORD:
      REDIS_HOST:
      REDIS_HOST_PASSWORD:
    labels:
      - homepage.group=存储
      - homepage.name=NextCloud
      - homepage.icon=nextcloud.png
      - homepage.href=https://cloud.home.lubui.com:8443/
      - homepage.description=私有云盘
      - com.centurylinklabs.watchtower.enable=true

  web:
    image: nginx:alpine
    container_name: nextcloud-web
    restart: unless-stopped
    network_mode: host
    environment:
      TZ: Asia/Shanghai
      VIRTUAL_HOST: cloud.home.lubui.com
      VIRTUAL_PORT: '${PORT}'
    expose:
      - '${PORT}'
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nextcloud:/var/www/html:z,ro
    depends_on:
      - app

  cron:
    image: nextcloud:fpm-alpine
    container_name: nextcloud-cron
    restart: unless-stopped
    volumes:
      - ./nextcloud:/var/www/html:z
    entrypoint: /cron.sh
